<div id="header">
    <div id="logo">
        <div id="img-logo">
            <img src="" alt="veterinaria">
        </div>
    </div>

    <div id="nav">
        <ul>
            <li routerLink="/home"  routerLinkActive="active">
                <i class="fas fa-paw icon"></i>
                <a >Home</a>
            </li>
            <li routerLink="/blog"  routerLinkActive="active">
                <i class="fas fa-notes-medical icon"></i>
                <a >Blog</a></li>
            <li routerLink="/about"  routerLinkActive="active">
                <i class="fas fa-syringe icon"></i>
                <a  >About</a>
            </li>
            <li routerLink="/contact" routerLinkActive="active">
                <i class="fas fa-address-book icon"></i>
                <a  >Contacto</a>
            </li>
        </ul>
    </div>
</div>
