<div id="header">
    <div id="logo">
        <div id="img-logo">
            <img src="" alt="veterinaria">
        </div>
    </div>

    <div id="nav">
        <ul>
            <li>
                <i class="fas fa-paw icon"></i>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li>
                <i class="fas fa-notes-medical icon"></i>
                <a routerLink="/blog"  routerLinkActive="active">Blog</a></li>
            <li>
                <i class="fas fa-syringe icon"></i>
                <a routerLink="/about" routerLinkActive="active" >About</a>
            </li>
            <li>
                
                    <i class="fas fa-address-book icon"></i>
                    <a routerLink="/contact" routerLinkActive="active">Contacto</a>
                
            </li>
        </ul>
    </div>
</div>
