*{
    background-color: #242526;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

#global-footer{
    margin-left: 14.1%;
    width: 82.9%;
    padding: 20px;
    background: #ccc;
    box-shadow: 0 0 20px #ccc;

}

#content-footer{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    color: #fff;
    border-radius: 20px;
}

#content-footer #servicios {
    border-right: 1px solid #fff;
    width: 100%;
}

#servicios h3{
    text-align: center;
}

#servicios ul li{
    font-size: 13px;
}