<div id="global-contacto">

    <!--Espacio que usa nuestro header-->
    <div id="header">
        
    </div>

    <div id="content-contact">
        
        <div id="inicio-contacto">
            <div id="inicio-text">
                <h2 class="title-principal">Contacto</h2>
                <div>
                     <p class="text-principal">
                        Para citas o para poder enviarnos alguna duda sobre alguno de nuestros productos o servicios
                        escríbenos en nuestras redes sociales o envíanos un correo en 
                        el formulario que se encuentra abajo.
                    </p>
                </div>
                <div id="social-buttons">
                    <ul>
                        <li class="social-insta"><a href="https://www.instagram.com/dra_marisol_veterinaria/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li class="social-face"><a href="https://www.facebook.com/MvzMCC" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-what"><a href="https://wa.me/9514168818" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>

            <div id="img-contacto">
                <img src="./../../assets/img/llamada-telefonica.png" alt="contact-pet">
            </div>
        </div>

        <div id="form-contact">
            <h2>Hola</h2>
        </div>
    </div>
</div>
