<div id="global-contacto">

    <!--Espacio que usa nuestro header-->
    <div id="header" class="main">
        
    </div>


    <div id="content-contact">
        
        <div id="inicio-contacto">
            <div id="inicio-text">
                <h2 class="title-principal">Contacto</h2>
                <div>
                     <p class="text-principal">
                        Para citas o para poder enviarnos alguna duda sobre alguno de nuestros productos o servicios
                        escríbenos en nuestras redes sociales o envíanos un correo en 
                        el formulario que se encuentra abajo.
                    </p>
                </div>
                <div id="social-buttons">
                    <ul>
                        <li class="social-insta"><a href="https://www.instagram.com/dra_marisol_veterinaria/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li class="social-face"><a href="https://www.facebook.com/MvzMCC" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-what"><a href="https://wa.me/9514168818" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>

            <div id="img-contacto">
                <img src="./../../assets/img/llamada-telefonica.png" alt="contact-pet">
            </div>
        </div>

        <div id="form-contact">
            <div id="form-send">
                <h3>Formulario</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Introducce tu correo electrónico</mat-label>
                    <input matInput placeholder="mimascota@example.com" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Mensaje</mat-label>
                    <textarea matInput required></textarea>
                </mat-form-field>
                <button mat-fab color="primary" >
                    <mat-icon>send</mat-icon>
                </button>
            </div>

            <div id="text-contact">
                <div id="title-contact">
                    <h3>¿Necesitas una cotización o una cita?</h3>
                </div>
                <div id="sub-contact">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Omnis, labore. Consequuntur nam iusto accusantium libero adipisci quos id odit magni dicta aperiam quae voluptatibus 
                        exercitationem accusamus, itaque ut vero quisquam!
                    </p>
                </div>
            </div>

            
            
        </div>
    </div>
</div>
