.colaborators-intro {
  width: 60%;
  margin: 0 auto;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
}

.colaborators-intro button {
  background-color: #2d88ff !important;
  display: block;
  margin: 0 auto;
}

table {
  width: 99%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

table button {
  margin-right: 5px;
}

table .buttons {
  margin: 0 auto;
  margin-left: 13%;
}

table th {
  font-weight: 500;
}

table .buttonEdit {
  background-color: #2d88ff;

}

button {
  margin-bottom: 10px;
}



