<h3>Colaboradores</h3>
<button>Hola</button>
<table mat-table [dataSource]=colaborators class="mat-elevation-z8">
>
    <ng-container matColumnDef="id">
        <th mat-header *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let item">{{ item.id}}</td>
    </ng-container>

    <ng-container matColumnDef="nombre"> 
        <th mat-header *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let item">{{ item.nombre }}</td>
    </ng-container>
    <ng-container matColumnDef="ocupacion">
        <th mat-header *matHeaderCellDef>Ocupación</th>
        <td mat-cell *matCellDef="let item">{{ item.ocupacion }}</td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
        <th mat-header *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let item">{{ item.descripcion | slice:0:60 }}...</td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let item">{{ item.email }}</td>
    </ng-container>
    <ng-container matColumnDef="tel">
        <th mat-header *matHeaderCellDef>Tel.</th>
        <td mat-cell *matCellDef="let item">{{ item.tel }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
</table>
