
<div id="global-about">
    <div id="header">
        
    </div>
    <div id="content-about">
        <div id="inicio-about">
            <h2 class="title-principal">Nosotros</h2>
            <div id="parrafo-about">
                <p>
                    Empresa 100% <span>oaxaqueña,</span> promovemos la salud y el binestar de tus mascotas, 
                    la adopción, la esterilización y el comercio local.
                </p>
            </div>
            <div id="img-about">
                <img src="./../../assets/img/about-img.png" alt="veterinariaImg">
            </div>
        </div>    
        <div id="service-about">
            <!--SLIDER DE LOS PRINCIPALES SERVICIOS-->
        </div>
    </div>
</div>
