<div id="global-about">

  <div id="content-about">

    <div id="inicio-about">

      <div id="text-about">
        <div>
          <img src="https://firebasestorage.googleapis.com/v0/b/drmarisolveterinaria.appspot.com/o/about%2Fpexels-lumn-406014_adobespark.png?alt=media&token=3afdcd62-338b-4c21-b20e-5ad31a44f5c0" alt="veterinariaImg">
          <h2 class="title-principal title">Nosotros</h2>
        </div>
        

        <p>
          Empresa 100% <span>oaxaqueña,</span> promovemos la salud y el binestar de tus mascotas,
          la adopción, la esterilización y el comercio local.
        </p>
      </div>
      
    </div>

    <div id="service-about">
      <swiper [slidesPerView]="3" [spaceBetween]="10" [navigation]="false" [pagination]="{ clickable: true }"
      [breakpoints]="{
        '320': {
          slidesPerView: 1
        },
        '480': {
          slidesPerView: 2
        },
        '801' : {
          slidesPerView: 3
        }
      }">

        <ng-template swiperSlide >
          <img src="https://firebasestorage.googleapis.com/v0/b/drmarisolveterinaria.appspot.com/o/servicios%2FComponent%202.png?alt=media&token=c6cf99e5-4347-401d-b45c-24ce63736d32">
        </ng-template>
        <ng-template swiperSlide >
          <img src="https://firebasestorage.googleapis.com/v0/b/drmarisolveterinaria.appspot.com/o/servicios%2FComponent%201.png?alt=media&token=3a5da725-9d8d-4b21-8a58-dd52735aeef6">
        </ng-template>
        <ng-template swiperSlide >
          <img src="https://firebasestorage.googleapis.com/v0/b/drmarisolveterinaria.appspot.com/o/servicios%2FComponent%203.png?alt=media&token=c2a09c01-d8a3-432a-bf68-95d435b65982">
        </ng-template>
        <ng-template swiperSlide >
          <img src="https://firebasestorage.googleapis.com/v0/b/drmarisolveterinaria.appspot.com/o/servicios%2FComponent%204.png?alt=media&token=bee1826f-2c6e-4a6f-9eaa-dd8c00aed582">
        </ng-template>
        <ng-template swiperSlide >
          <img src="https://firebasestorage.googleapis.com/v0/b/drmarisolveterinaria.appspot.com/o/servicios%2FComponent%205.png?alt=media&token=72751f6f-4c14-4e2f-b748-b09d42ee650b">
        </ng-template>
        <ng-template swiperSlide >
          <img src="https://firebasestorage.googleapis.com/v0/b/drmarisolveterinaria.appspot.com/o/servicios%2FComponent%207.png?alt=media&token=6974728e-d40a-4dc9-987c-46df70a31741">
        </ng-template>
      </swiper>
    </div>

    
    <div id="service-vendors">
      <h3 class="title-principal title">Principales proveedores</h3>
      <div id="cards-vendors">
        <div class="card-vendor" *ngFor="let vendor of providers">
          <img src="https://firebasestorage.googleapis.com/v0/b/drmarisolveterinaria.appspot.com/o/{{vendor.url}}"
            alt="{{vendor.title}}">
        </div>
      </div>
    </div> 
  </div>
</div>
