<form [formGroup]="formSlider">
  <div class="form">
    <label>Título <span>*</span></label>
    <i class="fas fa-heading"></i>
    <input type="text" formControlName="titulo" placeholder="Título" required>
  </div>

  <div class="form">
    <label>Contenido <span>*max. 200</span></label>
    <i class="fas fa-align-left"></i>
    <textarea formControlName="contenido" maxlength="200"  placeholder="Contenido" required ></textarea>
  </div>

  <div class="form">
    <div id="image">
      <img src="{{ imageFondo }}">
    </div>
    <label>Fondo <span>*</span></label>
    <i class="far fa-image"></i>
    <input [(ngModel)]="imageFondo" type="text" formControlName="background" placeholder="Fondo" required>
  </div>

  <div class="form">
    <label>Link</label>
    <i class="fas fa-link"></i>
    <input type="text" formControlName="url" placeholder="Link">

  </div>

  <button mat-raised-button color="primary" (click)="createSlider()"
  [disabled]="!formSlider.valid" *ngIf="!(idUpdateFirebase.length > 0)">Crear</button>
  <button mat-raised-button color="primary" (click)="updateSlider()"
  [disabled]="!formSlider.valid" *ngIf="idUpdateFirebase.length > 0">Actualizar</button>
</form>
