form {
  width: 100%;

}
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
}

.mat-form-field {
  width: 80%;
}

.mat-label span {
  font-size:10px;
  color: blue;
}

.mat-icon {
  color: #5a7ca8
}

.disabled{
  color: #ccc;
}

button {
  background-color: #2d88ff;
  color: #fff;
  width: 30%;
  height: 55%;
}

.image-item {
  width: 50%;
  height: 140px;
  border: 2px dashed #5a7ca8;
  margin: 0 auto;
  margin-bottom: 10px;
}

.image-item img {
  width:100%;
  height: 136px;
}

/*
 * Contenido del blog
 * */

.content-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content-item .content-input {
  font-size: 15px;
}

/* Características que todos los blogs van a tener */
.content-item .content-output > h1 { font-size: 15px !important; }
