<div class="dialog-post">
  <mat-tab-group>

    <mat-tab label="Etiquetas" class="tab-etiquetas">

      <form [formGroup]="formPost" >
        <div class="form">


          <div class="form-item">
            <mat-form-field appearance="fill">
              <mat-label>Título</mat-label>
              <input formControlName="nombre" matInput>
            </mat-form-field>
          </div>



          <div class="form-item">
            <div class="image-item">
              <img src="{{ image }}" alt="">
            </div>
            <mat-form-field>
              <mat-label>Portada URL</mat-label>
              <input [(ngModel)]="image" type="text" formControlName="caratula" matInput>
            </mat-form-field>
          </div>

          <div class="form-item">
            <mat-form-field style="padding-left: 2%;">
              <mat-label>Tipo</mat-label>
                <mat-select formControlName="tipo">
                  <mat-option value="Alimentos">Alimentos</mat-option>
                  <mat-option value="Primeros auxilios">Primeros auxilios</mat-option>
                  <mat-option value="Tips">Tips</mat-option>
                  <mat-option value="Promociones">Promociones</mat-option>
                  <mat-option value="Gatos">Gatos</mat-option>
                  <mat-option value="Perros">Perros</mat-option>
                </mat-select>
            </mat-form-field>
          </div>

          <div class="form-item">
            <mat-form-field appearance="fill">
              <mat-label>Descripción <span style="font-size:10px">Max: 150</span></mat-label>
              <textarea matInput formControlName="introduccion"  maxlength="150" rows="5"></textarea>
            </mat-form-field>
          </div>
        </div>
      </form>

    </mat-tab>

    <mat-tab label="Contenido">
      <div class="content-item">
        <div class="content-input">
          <form [formGroup]="formPost">
            <mat-form-field appearance="fill">
              <mat-label> Contenido del blog</mat-label>
              <textarea matInput formControlName="contenido"  [(ngModel)]="text" rows="23"></textarea>
            </mat-form-field>

            <button mat-raised-button *ngIf="(idUpdateFirebase.length > 0)"[disabled]="!formPost.valid" (click)="updatePost()">Actualizar</button>
            <button [disabled]="!formPost.valid" mat-raised-button *ngIf="!(idUpdateFirebase.length > 0)" (click)="createPost()">Crear</button>
          </form>
        </div>

        <div class="content-output">
          <showdown emoji [value]="text" style="font-size: 15px;"> </showdown>
        </div>

      </div>
    </mat-tab>
  </mat-tab-group>
</div>
