.global-footer{
    background-color: #fff;
    border-top: 1px solid #ccc;
    color: gray;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    width: 95%;
    margin: 0 auto;
}

.footer-mention {
    margin-top: 7%;
}

.footer-mention span { 
    display: block;
}

.footer-mention span a{ 
    color: gray;
    text-decoration: none;
}

.footer-mention span a:hover{ 
    text-decoration: underline;
}

.footer-logo img {
    display: block;
    width: 40%;
    margin: 0 auto;
}

.footer-nav  {
    margin-top: 10%;
}

.footer-nav ul li { 
    display: inline-block;
    margin-right: 20px;
}

.footer-nav ul li a{ 
    color: gray;
    text-decoration: none;
    transition: all 0.5s;
}

.footer-nav ul li a:hover { 
    text-decoration: underline;
}

