<div class="global-footer" >
    <div class="footer-content footer-complete">
        <div class="footer-mention">
            <span>&copy; 2021 Veterinaria Dra. Marisol</span>
            <span>Desarrollador Web: <a href="#">Miguel Ángel Bermúdez Cruz</a></span>
        </div>
        <div class="footer-logo">
            <img
            src="https://firebasestorage.googleapis.com/v0/b/drmarisolveterinaria.appspot.com/o/logo-principal.png?alt=media&token=832ca6fc-af22-4dae-a12e-e3d5376b040d"
            alt="Veterinaria Dra Marisol Logo">
        </div>
        <div class="footer-nav">
            <ul>
                <li><a routerLink="/home" >Inicio</a></li>
                <li><a routerLink="/blog">Blog</a></li>
                <li><a routerLink="/about">Nosotros</a></li>
                <li><a routerLink="/contact">Contacto</a></li>
            </ul>
        </div>
    </div>

</div>