#global{
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 1fr;
}

.swiper{
  width: 1100px;
  height: 300px;
  margin: 0 auto;
}

.swiper-slide {
  width: 100%;
  color: #fff;
  box-sizing: border-box;
  padding: 40px 60px;
  font-size: 100px;
}

#home-slider{
  width: 95%;
  margin: 0 auto;
}

/*
 CARD-INTRO
*/

#cards-intro{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  margin-top: 30px;
  margin-bottom: 10px;
}

mat-card {
  border-radius: 7%;
  height: 100%;
  padding-bottom: 20px;
}

.icon-card i {
  background-color: #5C98FB;
  border-radius: 30px;
  color: #fff;
  display: block;
  height: 27px;
  line-height: 27px;
  text-align: center;
}

mat-card-content {
  height: 61% !important;
}

mat-card-content span { 
  font-weight: bold;
  color: black;
}

#cards-intro .card{
  border-radius: 7%;
  border: 1px solid #b1d2e8;
  box-shadow: 0px 0px 30px #ccc;
}

button {  
  background-color: #5C98FB;
}

.card button  {
  color: #fff;
  font-size: 17px;
  margin-left: 38% !important;
  margin-top: -5px;
  transition: 0.5s all;
}

.card button:hover { 
  transform: scale(1.2)
}

#introduction {
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
}


