<div id="global">
  <div id="header">
  </div>

  <div id="content-home">
    <!--
      SLIDER
    -->
    <div id="home-slider">
      <swiper  [slidesPerView]="1" [spaceBetween]="30" [navigation]="true" [pagination]="{ clickable: true }">
        <ng-template class="swiper-slide" swiperSlide *ngFor="let slider of sliders" style="background-image: url('{{ slider.background }}');">
          <div class="title">{{ slider.title }}</div>
          <div class="content">{{ slider.content }}</div>
          <button *ngIf="slider.url.length > 0" class="btn btn-"mat-raised-button routerLink="post/{{ slider.url }}">LINK</button>
        </ng-template>
      </swiper>
    </div>

    <!--
      Puntos de la página
    -->
    <div id="cards-intro">
      <div class="card" *ngFor="let card of cards" >
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="icon-card">
              <i class="{{ card.icon }}"></i>
            </div>
            <mat-card-title>{{card.title | uppercase }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{card.content}} <span>{{card.highlith}}.</span></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button><i class="fas fa-link"></i></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  

    <!--
      INTRODDCIÓN
    -->
    <div id="introduction">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon"><i class="fas fa-first-aid"></i></mat-icon>
  
          </ng-template>
          Contenido1
        </mat-tab>
        
      <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon"><i class="fas fa-map-marked-alt"></i></mat-icon>
            Ejemplo1
          Contenido1
        </mat-tab>
      </mat-tab-group>
      
    </div>
    
    Ubication -->

    <!--

          MASCOTAS QUE TRATAMOS, ETC

        -->
  </div>
</div>
