<div id="global">
  <div id="header">
  </div>

  <div id="content-home">
    <!--
      SLIDER
    -->
    <div id="home-slider">
      <swiper  [slidesPerView]="1" [spaceBetween]="30" [navigation]="true" [pagination]="{ clickable: true }">
        <ng-template class="swiper-slide" swiperSlide *ngFor="let slider of sliders" style="background-image: url('{{ slider.background }}');">
          <div class="title">{{ slider.title }}</div>
          <div class="content">{{ slider.content }}</div>
          <button *ngIf="slider.url.length > 0" class="btn btn-"mat-raised-button routerLink="post/{{ slider.url }}">LINK</button>
        </ng-template>
      </swiper>
    </div>

    <!--
      Puntos de la página
    -->
    <div id="cards-intro">
      <div class="card" *ngFor="let card of cards" >
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="icon-card">
              <i class="{{ card.icon }}"></i>
            </div>
            <mat-card-title>{{card.title | uppercase }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{card.content}} <span>{{card.highlith}}.</span></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button routerLink="{{ card.url }}"><i class="fas fa-link"></i></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  

    <!--
      INTRODDCIÓN
    -->
    <div id="introduction">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon"><i class="fas fa-first-aid"></i></mat-icon>
          </ng-template>
          
          <div class="tab-content">
            <div class="tab-text">
              <p>
                En la <span>Veterinaria Dra. Marisol</span> ofrecemos una atención especializada para tu mascota, 
                contamos con los mejores epecialistas y ofrecemos una servicio de principio a fin para que
                cada uno de nuestros pequeños amigos se vaya seguro a casa.
              </p>
              <img src="https://cdn.pixabay.com/photo/2020/03/26/10/35/domestic-cat-4969984_960_720.jpg" alt="atención veterinaria">
            </div>      
          </div>
        </mat-tab>
        
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon"><i class="fas fa-map-marked-alt"></i></mat-icon>
          </ng-template>
          <div class="tab-content">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" 
            src="https://maps.google.com/maps?width=1254&amp;height=400&amp;hl=en&amp;q=Libres%20801%20Oaxaca%20
            City+(Veterinaria%20Dra.%20Marisol)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon"><i class="fas fa-images"></i></mat-icon>
          </ng-template>
          <div class="tab-content">
            <swiper
            style="--swiper-navigation-color: #fff;--swiper-pagination-color:#fff"
            [spaceBetween]="10"
            [navigation]="true"
            [thumbs]="{ swiper: thumbsSwiper}"
            class="tab.swiper"
            >
              <ng-template swiperSlide>
                <img src="" alt="swiper-tab">
            
            </ng-template>
            
          </swiper>
          
        </div>
      </mat-tab>
     </mat-tab-group>
    
  </div>
  
    
    <!--
      Ubication
    -->

    <!--

          MASCOTAS QUE TRATAMOS, ETC

        -->
  </div>
</div>
