<div class="blog-posts">
  <div class="blog-title">
    <h3 class="title-principal title">Blog</h3>
  </div>
  <div class="posts">

    <div class="post-item" matRipple routerLink="/blog/{{ item.idFirebase }}" *ngFor="let item of posts">
      <div class="post-cartula">
        <img src="{{ item.caratula }}" alt="">
      </div>

      <div class="post-content">
        <h3>{{ item.nombre }}</h3>
        <span class="date"><i class="fas fa-calendar-week"></i> {{ item.fecha*1000 | date: 'dd/MM/yyyy' }}</span>
        <span class="new">Nuevo</span>
        <div [ngSwitch]="item.tipo" class="type">
          <span *ngSwitchCase="'Gatos'"><i class="fas fa-cat"></i>Gatos</span>
          <span *ngSwitchCase="'Perros'"><i class="fas fa-dog"></i>Perros</span>
          <span *ngSwitchCase="'Promociones'"><i class="fas fa-percentage"></i>Promociones</span>
          <span *ngSwitchCase="'Tips'"><i class="fas fa-lightbulb"></i>Tips</span>
          <span *ngSwitchCase="'Primeros auxilios'"><i class="fas fa-first-aid"></i>Primeros auxilios</span>
          <span *ngSwitchCase="'Alimentos'"><i class="fas fa-cookie-bite"></i>Alimentos</span>
        </div>

        <div class="post-content-intro">
          <p>{{ item.introduccion }} </p>
        </div>
      </div>
    </div>

  </div>
</div>
