*{
    margin: 0px;
    padding: 0px;
}
html, body {
    height: 100%;
}

body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title-principal{
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    background-color: #4DABF7;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 17px 10px 10px #ccc;
}

/***************
  Estilo de outpu de blog
*****************/

.content-output {
  height: 410px;
  overflow-y: scroll;
}

.content-item .content-output blockquote {
  background-color: rgb(235, 235, 235);
  padding-left:  10px;
  color: gray;
  border-left: 2px solid #4DABF7;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-item .content-output li{
  padding-left: 1em;
}

.content-item .content-output li:before{
  font-family: FontAwesome;
  content: "\f1b0";
  padding-right: 0.4em;
  color: #005397;
}

.content-item .content-output  h1 {
  color: rgb(116, 116, 116);
  font-size: 32px !important;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 0px;
  line-height: 4rem;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.content-item .content-output h2 {
  font-size: 25px !important;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 450;
}

.content-item .content-output h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0px;
}

.content-item .content-output h4 {
  font-size: 17px;
  font-weight: 400;
  margin-top: 0px;
}

.content-output p {
  margin: 0px !important;
}




