.post-item .post-item-img {
    margin: 0 auto;
    width: 93%;
    margin-top: 20px;
}

.post-item .post-item-img img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgb(107, 107, 107);
}

.post-item .post-item-intro h3{ 
    font-size: 60px;
    text-align: center;
}

.intro-data { 
    margin: 0 auto;
    margin-top: 20px;
    width: 24%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    grid-gap: 10px;
}

.intro-data .date {
    background-color: #171B47;
    color: #fff;
    text-align: center;
    width: 85%;
    border-radius:7px;
}

.intro-data .date  i { 
    margin-right:  5px;
}

.intro-data .intro-social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.intro-social a { 
    font-size: 25px;
    transition: all 0.4s;
}

.intro-social a:hover { 
    transform: scale(0.8);
}

.intro-social .fa-facebook { 
    color: rgb(44, 44, 119);
}

.intro-social .fa-instagram { 
    color: rgb(167, 8, 167);
}

.intro-social .fa-whatsapp { 
    color: rgb(39, 146, 39);
}

.intro-data .type { 
    background-color: #545fd8;
    width: 150px;
    text-align: center;
    border-radius:5px;
}

.intro-data .type span { 
    color: #fff;
}

.intro-data .type span i{ 
    margin-right: 5px;
}

/****
    Edición del output del blog
*****/

.post-item-content {
    padding: 20px;
}


@media (min-width:320px) {  
    .post-item-intro h3 {
        font-size: 45px !important;
        font-weight: bold;
    }

    .intro-data {
        width: 56%;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .intro-data .date {
        margin: 0 auto;
    }

    .intro-social { 
        grid-gap: 20px !important;
        margin: 0 auto;
    }

    .type {
        margin: 0 auto;
    }

    showdown img {
        height: 200px !important;
    }
}

@media (min-width:480px) { 

}
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px) {
    .intro-data {
        width: 70%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .post-item .post-item-img img {
        max-height: 300px;
    }

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { 
    .post-item .post-item-img img {
        max-height: 380px;
    }
}
