<div class="post-item">
    <div class="post-item-img">
        <img src="{{ caratula }}" alt="{{ nombre }} ">
    </div>

    <div class="post-item-intro">
        <h3>{{ nombre }}</h3>
        <div class="intro-data">
            <span class="date"><i class="fas fa-calendar-week"></i>{{ fecha*1000 | date: 'dd/mm/YYYY' }}</span>
            <div class="intro-social">
                <a href="https://www.facebook.com/MvzMCC" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/dra_marisol_veterinaria/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://wa.me/529514168818" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </div>
            <div [ngSwitch]="tipo" class="type">
                <span *ngSwitchCase="'Gatos'"><i class="fas fa-cat"></i>Gatos</span>
                <span *ngSwitchCase="'Perros'"><i class="fas fa-dog"></i>Perros</span>
                <span *ngSwitchCase="'Promociones'"><i class="fas fa-percentage"></i>Promociones</span>
                <span *ngSwitchCase="'Tips'"><i class="fas fa-lightbulb"></i>Tips</span>
                <span *ngSwitchCase="'Primeros auxilios'"><i class="fas fa-first-aid"></i>Primeros auxilios</span>
                <span *ngSwitchCase="'Alimentos'"><i class="fas fa-cookie-bite"></i>Alimentos</span>
              </div>
        </div>
    </div>

    <div class="post-item-content">
        <showdown class="post-content"[value]="contenido"></showdown>
    </div>

</div>