.messages-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 96%;
  margin: 0 auto;
}

.messages-content .mat-card {
  margin: 5px;
  min-height: 253px;
}

.mat-card .mat-card-avatar i{
  color: rgb(11, 11, 122);
  font-size: 40px;
}


.mat-card .mat-card-content {
  height: 45%;
}
